.auth {
  width: 503px;
  height: 379px;
  background-color: #e990f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 44px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 207px;

  @media screen and (max-width: 768px) {
    width: 75%;
  }

  &__entry-btn {
    height: 60px;
    padding: 20px 34px 19px;
    border-radius: 36px;
    background-color: Transparent;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    border: solid 3px #ffffff;
    font-family: SFUIText;
    margin-top: 56px;
    color: #fff;
  }
}
