.mobile-modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  z-index: 2;

  &__header {
    display: flex;
    flex-direction: row;
  }

  &__icon-wrapper {
    padding: 30px;
    width: 50%;
    display: flex;
    align-content: flex-end;

    &--end {
      justify-content: flex-end;
    }
  }

  &__logo {
    align-self: flex-start;
  }

  &__close {
    align-self: flex-end;
  }

  &__content {
    display: flex;
    flex-direction: column;

    margin-top: 127px;
  }

  &__logo {
    width: 98px;
    height: 37px;
  }

  &__link {
    margin-bottom: 25px;
    font-size: 24px;
    outline: none;
    text-decoration: none;
    color: #000;
    font-weight: bold;

    &--active {
      color: #7ed321;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
